@charset "UTF-8";
/* ****************************************** */
/* ************** SCSS VARIABLE ************* */
/* ****************************************** */
/* ************* PAGE FONT ****************** */
* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  font-size: small;
}

/* ****************************************** */
/* ************ CASE TITLE ****************** */
.titre {
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
}

/* ****************************************** */
/* ********** CATEGORIE BCKGRND ************* */
#ttr {
  margin: 1%;
  padding: 1%;
  background: rgba(131, 131, 131, 0.4);
  -webkit-box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
          box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

#ttr li {
  margin: 4%;
}

#ttr li a {
  color: #1b2aac;
  font-weight: bold;
}

hr {
  opacity: 40%;
  width: 50%;
  margin-top: 2%;
  margin-bottom: 2%;
}

/* ****************************************** */
/* ************** PAGE BCKGRND ************** */
body {
  background: url("IMG/Blur-V2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* ****************************************** */
/* ************ CONTENEUR CASES ************* */
.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  margin: 1%;
  height: auto;
}

/* ****************************************** */
/* ************* CASE IDNTITY *************** */
.Photo-et-identité {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 3 / 2;
  margin: 1%;
  padding: 1%;
  background: rgba(255, 255, 255, 0.35);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.img {
  text-align: center;
}

.img-rds {
  margin: 1%;
  background: rgba(131, 131, 131, 0.4);
  -webkit-box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
          box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 100%;
  border: 0.5px solid rgba(255, 255, 255, 0.18);
}

.id {
  margin: 1%;
}

.icon {
  margin: 1%;
}

.icon a {
  color: black;
}

.site {
  margin: 1%;
}

.site a {
  color: black;
}

meter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 2em;
}

/* ****************************************** */
/* *********** EXP PROFESSIONNEL ************ */
.Experience-professionnel {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
  margin: 1%;
  padding: 1%;
  background: rgba(255, 255, 255, 0.35);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/* ****************************************** */
/* ************* PROJET REALISE ************* */
.Projets-réalisé {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
  margin: 1%;
  padding: 1%;
  background: rgba(255, 255, 255, 0.35);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

#lnk {
  font-size: small;
}

/* ****************************************** */
/* ****************************************** */
@media screen and (max-width: 600px) {
  .container {
    -ms-grid-columns: 1fr 100%;
        grid-template-columns: 1fr 100%;
  }
  .Photo-et-identité {
    grid-column: 1 / -1;
    grid-row: auto;
  }
  .Experience-professionnel {
    grid-column: 1 / -1;
    grid-row: auto;
  }
  .Projets-réalisé {
    grid-column: 1 / -1;
    grid-row: auto;
  }
}

/* ****************************************** */
/* ****************************************** */
/*# sourceMappingURL=Index-style.css.map */