/* ****** SCSS VARIABLE ***** */
$blur     : blur(20px);
$back-case: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
$one      : 1%;
/* ************************* */

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align : center;
}

body {
    background           : url("IMG/Blur.jpg");
    background-repeat    : no-repeat;
    background-size      : cover;
    background-attachment: fixed;
}

.container {
    display              : grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows   : 1fr 1fr 1fr;
    gap                  : 0px 0px;
    grid-auto-flow       : row;
}

.Identity {
    display                : grid;
    grid-template-columns  : 1fr 1fr 1fr;
    grid-template-rows     : 1fr 1fr 1fr;
    gap                    : 0px 0px;
    grid-auto-flow         : row;
    grid-area              : 1 / 1 / 2 / 4;
    background             : rgba(2, 2, 2, 0.15);
    box-shadow             : $back-case;
    backdrop-filter        : $blur;
    -webkit-backdrop-filter: $blur;
    border-radius          : 10px;
    margin                 : $one;
    padding                : $one;
}

.Photo {
    grid-area: 1 / 1 / 4 / 2;
}

.Prenom {
    grid-area: 1 / 2 / 2 / 3;
}

.Nom {
    grid-area: 1 / 3 / 2 / 4;
}

.Age {
    grid-area: 2 / 2 / 3 / 3;
}

.Sexe {
    grid-area: 2 / 3 / 3 / 4;
}

.Ville {
    grid-area: 3 / 2 / 4 / 3;
}

.Réseaux {
    grid-area: 3 / 3 / 4 / 4;
}

.Experience {
    display                : grid;
    grid-template-columns  : 1fr 1fr 1fr;
    grid-template-rows     : 1fr 1fr 1fr;
    gap                    : 0px 0px;
    grid-auto-flow         : row;
    grid-area              : 2 / 1 / 3 / 4;
    background             : rgba(237, 13, 13, 0.15);
    box-shadow             : $back-case;
    backdrop-filter        : $blur;
    -webkit-backdrop-filter: $blur;
    border-radius          : 10px;
    margin                 : $one;
    padding                : $one;
}

.Exp-1 {
    display              : grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows   : 1fr 1fr 1fr;
    gap                  : 0px 0px;
    grid-auto-flow       : row;
    grid-area            : 1 / 1 / 4 / 2;
}

.Année {
    grid-area: 1 / 1 / 2 / 4;
}

.Lieu {
    grid-area: 2 / 1 / 3 / 4;
}

.Exp {
    grid-area: 3 / 1 / 4 / 4;
}

.Exp-2 {
    display              : grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows   : 1fr 1fr 1fr;
    gap                  : 0px 0px;
    grid-auto-flow       : row;
    grid-area            : 1 / 2 / 4 / 3;
}

.année {
    grid-area: 1 / 1 / 2 / 4;
}

.lieu {
    grid-area: 2 / 1 / 3 / 4;
}

.Expp {
    grid-area: 3 / 1 / 4 / 4;
}

.Exp-3 {
    display              : grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows   : 1fr 1fr 1fr;
    gap                  : 0px 0px;
    grid-auto-flow       : row;
    grid-area            : 1 / 3 / 4 / 4;
}

.annze {
    grid-area: 1 / 1 / 2 / 4;
}

.liue {
    grid-area: 2 / 1 / 3 / 4;
}

.exxp {
    grid-area: 3 / 1 / 4 / 4;
}

.Hobbies {
    display                : grid;
    grid-template-columns  : 1fr 1fr 1fr;
    grid-template-rows     : 1fr 1fr 1fr;
    gap                    : 0px 0px;
    grid-auto-flow         : row;
    grid-area              : 3 / 1 / 4 / 4;
    background             : rgba(13, 237, 57, 0.15);
    box-shadow             : $back-case;
    backdrop-filter        : $blur;
    -webkit-backdrop-filter: $blur;
    border-radius          : 10px;
    margin                 : $one;
    padding                : $one;
}

.Hobbie-1 {
    display              : grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows   : 1fr 1fr 1fr;
    gap                  : 0px 0px;
    grid-auto-flow       : row;
    grid-area            : 1 / 1 / 4 / 2;
}

.hob {
    grid-area: 1 / 1 / 3 / 4;
}

.img {
    grid-area: 3 / 1 / 4 / 4;
}

.Hobbie-2 {
    display              : grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows   : 1fr 1fr 1fr;
    gap                  : 0px 0px;
    grid-auto-flow       : row;
    grid-area            : 1 / 2 / 4 / 3;
}

.hobb {
    grid-area: 1 / 1 / 3 / 4;
}

.imag {
    grid-area: 3 / 1 / 4 / 4;
}

.Hobbie-3 {
    display              : grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows   : 1fr 1fr 1fr;
    gap                  : 0px 0px;
    grid-auto-flow       : row;
    grid-area            : 1 / 3 / 4 / 4;
}

.hobbi {
    grid-area: 1 / 1 / 3 / 4;
}

.image {
    grid-area: 3 / 1 / 4 / 4;
}