/* ****************************************** */
/* ************** SCSS VARIABLE ************* */
$margin   : 2%;
$blur     : blur(3.5px);
$brd-rds  : 10px;
$case-clr : rgba(255, 255, 255, 0.35);
$case-clr2: rgba(131, 131, 131, 0.4);
$brd-clr  : rgba(255, 255, 255, 0.18);
$bx-shdw  : rgba(31, 38, 135, 0.37);
$bx-shdw2 : rgba(0, 0, 0, 0.37);
$b        : black;

/* ****************************************** */
/* ************* PAGE FONT ****************** */
* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* ****************************************** */
/* ************ CASE TITLE ****************** */
.titre {
    text-align     : center;
    text-decoration: underline;
    font-weight: bold;
}

/* ****************************************** */
/* ********** CATEGORIE BCKGRND ************* */
#ttr {
    margin                 : $margin;
    padding                : 1%;
    background             : $case-clr2;
    box-shadow             : 0 8px 32px 0 $bx-shdw2;
    backdrop-filter        : $blur;
    -webkit-backdrop-filter: $blur;
    border-radius          : $brd-rds;
    border                 : 1px solid $brd-clr;
}

#ttr li {
    margin: $margin;
}

#ttr li a {
    color: black;
}

/* ****************************************** */
/* ************** PAGE BCKGRND ************** */
body {
    background           : url("IMG/Blur.jpg");
    background-repeat    : no-repeat;
    background-size      : cover;
    background-attachment: fixed;
}

/* ****************************************** */
/* ************ CONTENEUR CASES ************* */
.container {
    display              : grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows   : 1fr 1fr;
    gap                  : 0px 0px;
    grid-auto-flow       : row;

    margin: 1%;
    height: auto;
}

/* ****************************************** */
/* ************* CASE IDNTITY *************** */
.Photo-et-identité {
    grid-area: 1 / 1 / 3 / 2;
    margin   : $margin;

    padding: 1%;

    background             : $case-clr;
    box-shadow             : 0 8px 32px 0 $bx-shdw;
    backdrop-filter        : $blur;
    -webkit-backdrop-filter: $blur;
    border-radius          : $brd-rds;
    border                 : 1px solid $brd-clr;
}

.img {
    text-align: center;
}

.img-rds {
    margin                 : $margin;
    background             : $case-clr2;
    box-shadow             : 0 8px 32px 0 $bx-shdw2;
    backdrop-filter        : $blur;
    -webkit-backdrop-filter: $blur;
    border-radius          : $brd-rds;
    border                 : 1px solid $brd-clr;
}

.id {
    margin: $margin;
}

.icon {
    margin: $margin;
}

.icon a {
    color: $b;
}

.site {
    margin: $margin;
}

.site a {
    color: $b;
}

/* ****************************************** */
/* *********** EXP PROFESSIONNEL ************ */
.Experience-professionnel {
    grid-area: 1 / 2 / 2 / 3;
    margin   : $margin;

    padding: 1%;

    background             : $case-clr;
    box-shadow             : 0 8px 32px 0 $bx-shdw;
    backdrop-filter        : $blur;
    -webkit-backdrop-filter: $blur;
    border-radius          : $brd-rds;
    border                 : 1px solid $brd-clr;
}

/* ****************************************** */
/* ************* PROJET REALISE ************* */
.Projets-réalisé {
    grid-area: 2 / 2 / 3 / 3;
    margin   : $margin;

    padding: 1%;

    background             : $case-clr;
    box-shadow             : 0 8px 32px 0 $bx-shdw;
    backdrop-filter        : $blur;
    -webkit-backdrop-filter: $blur;
    border-radius          : $brd-rds;
    border                 : 1px solid $brd-clr;
}

/* ****************************************** */
/* ****************************************** */