/* ****************************************** */
/* ************** SCSS VARIABLE ************* */
$margin   : 1%;
$blur     : blur(3.5px);
$brd-rds  : 10px;
$brd-rds2 : 100%;
$case-clr : rgba(255, 255, 255, 0.35);
$case-clr2: rgba(131, 131, 131, 0.4);
$brd-clr  : rgba(255, 255, 255, 0.18);
$bx-shdw  : rgba(31, 38, 135, 0.37);
$bx-shdw2 : rgba(0, 0, 0, 0.37);
$b        : black;
$link-clr : rgb(27, 42, 172);
$bld      : bold;

/* ****************************************** */
/* ************* PAGE FONT ****************** */
* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    font-size: small;
}

/* ****************************************** */
/* ************ CASE TITLE ****************** */
.titre {
    text-align     : center;
    text-decoration: underline;
    font-weight    : $bld;
}

/* ****************************************** */
/* ********** CATEGORIE BCKGRND ************* */
#ttr {
    margin                 : $margin;
    padding                : 1%;
    background             : $case-clr2;
    box-shadow             : 0 8px 32px 0 $bx-shdw2;
    backdrop-filter        : $blur;
    -webkit-backdrop-filter: $blur;
    border-radius          : $brd-rds;
    border                 : 1px solid $brd-clr;
}

#ttr li {
    margin: 4%;
}

#ttr li a {
    color      : $link-clr;
    font-weight: $bld;
}

hr {
    opacity: 40%;
    width  : 50%;
    margin-top: 2%;
    margin-bottom: 2%;
}

/* ****************************************** */
/* ************** PAGE BCKGRND ************** */
body {
    background           : url("IMG/Blur-V2.jpg");
    background-repeat    : no-repeat;
    background-size      : cover;
    background-attachment: fixed;
}

/* ****************************************** */
/* ************ CONTENEUR CASES ************* */
.container {
    display              : grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows   : 1fr 1fr;
    gap                  : 0px 0px;
    grid-auto-flow       : row;
    margin: $margin;
    height: auto;
}

/* ****************************************** */
/* ************* CASE IDNTITY *************** */
.Photo-et-identité {
    grid-area: 1 / 1 / 3 / 2;
    margin   : $margin;

    padding: 1%;

    background             : $case-clr;
    box-shadow             : 0 8px 32px 0 $bx-shdw;
    backdrop-filter        : $blur;
    -webkit-backdrop-filter: $blur;
    border-radius          : $brd-rds;
    border                 : 1px solid $brd-clr;
}

.img {
    text-align: center;
}

.img-rds {
    margin                 : $margin;
    background             : $case-clr2;
    box-shadow             : 0 8px 32px 0 $bx-shdw2;
    backdrop-filter        : $blur;
    -webkit-backdrop-filter: $blur;
    border-radius          : $brd-rds2;
    border                 : 0.5px solid $brd-clr;
}

.id {
    margin: $margin;
}

.icon {
    margin: $margin;
}

.icon a {
    color: $b;
}

.site {
    margin: $margin;
}

.site a {
    color: $b;
}

meter {
    display: flex;
    width  : auto;
    height: 2em;
}

/* ****************************************** */
/* *********** EXP PROFESSIONNEL ************ */
.Experience-professionnel {
    grid-area: 1 / 2 / 2 / 3;
    margin   : $margin;

    padding: 1%;

    background             : $case-clr;
    box-shadow             : 0 8px 32px 0 $bx-shdw;
    backdrop-filter        : $blur;
    -webkit-backdrop-filter: $blur;
    border-radius          : $brd-rds;
    border                 : 1px solid $brd-clr;
}

/* ****************************************** */
/* ************* PROJET REALISE ************* */
.Projets-réalisé {
    grid-area: 2 / 2 / 3 / 3;
    margin   : $margin;

    padding: 1%;

    background             : $case-clr;
    box-shadow             : 0 8px 32px 0 $bx-shdw;
    backdrop-filter        : $blur;
    -webkit-backdrop-filter: $blur;
    border-radius          : $brd-rds;
    border                 : 1px solid $brd-clr;
}

#lnk {
    font-size: small;
}

/* ****************************************** */
/* ****************************************** */